div{
    background-color: aquamarine;
    color: rgb(255, 0, 0);
    height:400px;
    padding: 30px;
    border-radius: 10px;
    margin: 10px;
    text-align: justify;

}
p{
    text-shadow: 1px 1.5px 1px black;
    font-size: 30px;
    text-align:
}