.banner{
    display:flex;
    background-color: blueviolet;
    margin: 5px;
    padding: 3px;
    color: aqua;
    justify-content:center;
    align-items: center;
}
.banner div{
    border 3px solid red;
    margin: 5px;
}



/* audio and video set */
audio{
    background-color: brown;
    border-radius: 5px;
    border: 0.5px solid rgb(255, 47, 186);
    height: 50px;
    width: 250px;
}
video,iframe{
    height:250px;
    width: 250px;
    box-shadow:5px 2px 2px red;
    border-radius:5px;
}

    img{
        height:100px;
        width: 100px;
        border-radius: 50%;
    }
    .midea{
        display: flex;
        justify-items: stretch;
        justify-content:space-around;
        gap: 20px;
    }