div{
    background-color: aquamarine;
    color: rgb(255, 0, 0);
    height:400px;
    padding: 30px;
    border-radius: 10px;
    margin: 10px;
    text-align: justify;

}
p{
    text-shadow: 1px 1.5px 1px black;
    font-size: 30px;
    
}
h1{
    text-align: center;
    color: #000;
    text-shadow: 1px 1.5px 1.5px red;

}
img{
    height: 100%;
    width: 100%;
}